body {
    background-color: #f0f0f0; 
    font-family: Arial, sans-serif;
    display: flex;
    margin: 0px;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

span {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

h2 {
    font-size: 32px;
    margin: 10px 0;
    color: #333;
}

.team-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin-top: 30px;
    width: 250px;
    height: 280px;
    text-align: center;
   
}

.card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 50px;
    margin-bottom: 10px;
}

.card h3 {
    
    font-size: 22px;
    color: #333;
    margin-bottom: 0px;
}

.card p {
    font-size: 16px;
    color: #666;
    margin-bottom: 15px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social-icons a {
    color: #333;
    background-color:#f0f0f0;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    transition: color 0.3s;
}


 @media (max-width: 600px) {
    .h2 {
    font-size: 24px;
    line-height: 1.3;
  }
  .container {
    flex-direction: column;
    align-items: center;
  }

 
}

      
    



