* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
  
}

#header, #nav, #footer, #left, #right, #main{
    text-align: center;
    padding: 15px;
    color:black;
}

#header { background: rgb(191, 66, 83); }
#footer { background: rgb(56, 150, 238); }

.container {
    display: flex;
    flex-wrap: wrap;
}

.content {
    text-align: center;
    padding: 20px;
    color: white;
    height: 565px;
}

#left { background: rgb(233, 195, 3); flex: 1; }
#main { background:white; flex: 3; }
#right { background:rgb(13, 183, 13); flex: 1; }

@media (max-width: 1000px) {
    .container { flex-direction: row ; }
   #main{ flex-wrap: ;}
    #left {flex:1; }
    #right {flex:1; }
    
} 

   
@media (max-width: 500px) {
    .container { flex-direction: column; }
     #main,#left, #right{ width: 100%; }
}