body {
    background: rgb(32,1,96);
    background: linear-gradient(90deg, rgba(32,1,96,1) 0%, rgba(78,9,121,1) 32%, rgba(201,0,255,1) 100%);
    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 0;
}


nav {
    background-color: rgb(207, 205, 205);
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

li {
    position: relative;
}

a {
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    display: block;
}




.dropdown:hover > .submenu {
    
    display: block;
    background-color: rgb(207, 205, 205);
    border-radius: 5px;
}


.submenu {
    display: none;
    position: absolute;

    left: 0;
    background-color: rgb(207, 205, 205);
    width: 200px;
}

.submenu li a {
    color: black;
    padding: 10px;
}




.dropdown > a:after {
    content: ' ▼'; 
    font-size: 12px;
}


.submenu li a:hover {
    background-color: rgb(241, 241, 241);
    color: black;
    border-radius: 5px;
}